---
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Risedata">
  <div class="grid place-items-center min-h-dvh p-10 relative">
    <h1 class="hidden">Risedata</h1>
    <img
      src="/logo.webp"
      alt="Risedata"
      width="300"
      height="89"
      loading="lazy"
    />

    <small>2024</small>

    <Video />
  </div>
</Layout>
