---
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Risedata">
  <div class="grid place-items-center min-h-dvh p-10 relative">
    <h1 class="hidden">Risedata</h1>
    <img
      src="/logo.webp"
      alt="Risedata"
      width="488"
      height="144"
      loading="lazy"
      class="opacity-0"
    />

    <Video />
  </div>
</Layout>

<style>
  img {
    animation: fadeIn 500ms ease-in-out 250ms forwards;
  }
</style>
