---
interface Props {
  name: string;
  photo: string;
  content: string;
}

const { name, photo, content } = Astro.props;
---

<div class="border border-neutral-50/10 w-full p-5 flex gap-5">
  <img
    src={photo}
    alt={name}
    width="80"
    height="80"
    loading="lazy"
    class="object-contain"
  />
  <div>
    <h3 class="text-2xl">{name}</h3>
    <p class="text-slate-400">
      {content}
    </p>
  </div>
</div>
