---
import LogoV from "../components/icons/LogoV.astro";
---

<footer class="container py-10 flex flex-col items-center">
  <LogoV />
  <p class="my-2">
    <small>
      <span class="text-slate-400">Desarrolla tus habilidades en:</span> Data Science
      & IA, Ciberseguridad, Cloud Computing, Programming & Web, Diseño UX/UI
    </small>
  </p>
  <a href="#">Paseo de la Castellana 89, 28046</a>
</footer>
