<header class="sticky top-0 z-50 backdrop-blur-3xl">
  <div class="container min-h-20 flex items-center justify-center">
    <a href="/">
      <h1 class="hidden">Risedata</h1>
      <img
        src="/logo.webp"
        alt="Risedata"
        width="144"
        height="40"
        loading="lazy"
      />
    </a>
  </div>
</header>
