<section
  class="feah bg-center bg-cover relative min-h-dvh grid place-items-center"
>
  <div class="hero container py-48">
    <h2 class="text-6xl font-thin sm:text-7xl md:text-8xl lg:text-9xl mb-10">
      Liderando la <strong>revolución tecnológica</strong> en el deporte de élite
    </h2>
    <div class="flex items-end gap-10 flex-wrap md:flex-nowrap">
      <div>
        <p>
          En RiseData transformamos el rendimiento deportivo a través del
          <strong>análisis avanzado de datos</strong>. Con inteligencia
          artificial y machine learning, ofrecemos <strong
            >soluciones personalizadas</strong
          > que maximizan el potencial y optimizan el desempeño en diversas disciplinas.
        </p>
      </div>
    </div>
  </div>
  <video
    autoplay
    loop
    muted
    playsinline
    class="mvideo fixed bottom-0 left-0 w-full h-full object-cover -z-50"
  >
    <source src="/hero.mp4" type="video/mp4" />
  </video>
</section>

<lite-youtube videoid="pjEsJra-sII" class="mx-auto z-10 md:w-2/3"
></lite-youtube>

<style>
  h2 {
    opacity: 0;
    transform: translateY(100px);
    animation: fadeInUp 500ms ease-in-out 500ms forwards;
  }

  h2 + div {
    opacity: 0;
    transform: translateY(100px);
    animation: fadeInUp 500ms ease-in-out 600ms forwards;
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
