<section class="bg-center bg-cover relative">
  <div class="container py-48 text-center">
    <h2 class="text-6xl font-thin sm:text-7xl md:text-8xl lg:text-9xl mb-10">
      Innovación y futuro
    </h2>
    <p>
      En <strong>RiseData</strong> seguimos marcando el ritmo de la innovación tecnológica
      en el análisis de datos deportivos. Con <strong
        >tecnologías emergentes</strong
      > como la realidad aumentada, simulaciones avanzadas y análisis en tiempo real,
      proporcionamos una visión revolucionaria del rendimiento atlético. Estamos
      expandiendo nuestro impacto a <strong
        >nuevas disciplinas y mercados globales</strong
      >, redefiniendo el futuro del deporte.
    </p>
    <!-- Destacar más -->
    <p>¡Únete a la revolución tecnológica del deporte!</p>
  </div>
  <video
    autoplay
    loop
    muted
    playsinline
    class="absolute top-0 left-0 w-full h-full object-cover -z-50 brightness-50"
  >
    <source src="/videos/virtual.mp4" type="video/mp4" />
  </video>
</section>
