---
import projects from "../data/projects.json";

import ArrowLeft from "../components/icons/ArrowLeft.astro";
import ArrowRight from "../components/icons/ArrowRight.astro";
import Project from "../components/Project.astro";
---

<div class="overflow-x-hidden">
  <div class="swiper projectsSwiper container flex flex-col gap-5">
    <div class="swiper-wrapper flex">
      {
        projects.map((item) => (
          <Project
            image={item.image}
            type={item.type}
            no={item.no}
            name={item.name}
          />
        ))
      }
    </div>
    <div class="flex self-end">
      <div class="swiper-button-prev projectsSwiper-button-prev">
        <ArrowLeft />
      </div>
      <div class="swiper-button-next projectsSwiper-button-next">
        <ArrowRight />
      </div>
    </div>
  </div>
</div>

<style>
  .swiper-button-disabled {
    @apply opacity-10 cursor-auto;
  }
</style>
