<div
  class="px-5 py-10 border-y border-neutral-50/10 grid md:grid-cols-[40px_1fr_377px] items-center gap-10 hover:bg-neutral-50 hover:text-blue transition"
>
  <span>01</span>
  <div>
    <span class="uppercase text-slate-400">Tipo de proyecto</span>
    <h3 class="text-4xl font-thin">Nombre del proyecto</h3>
  </div>
  <img
    src="/hero-background.webp"
    alt=""
    width="377"
    height="377"
    class="w-auto aspect-video object-cover"
  />
</div>
