---
import SectionTitle from "../components/SectionTitle.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section>
  <div class="container py-40">
    <SectionTitle title={title} />
    <slot />
  </div>
</section>
