---
import SectionTitle from "../components/SectionTitle.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="overflow-x-hidden">
  <div class="container py-40">
    <SectionTitle title={title} />
    <div class="grid grid-cols-1 lg:grid-cols-[377px_1fr] gap-10">
      <slot />
    </div>
  </div>
</section>
