---
import Card from "../components/Card.astro";
import Section from "./Section.astro";
---

<Section title="Tecnología de vanguardia">
  <div class="grid lg:grid-cols-[377px_1fr] gap-10">
    <p>
      En <strong>RiseData</strong>, aplicamos las tecnologías más avanzadas para
      ofrecer soluciones de análisis de datos deportivos que marcan la
      diferencia.
    </p>
    <div class="grid md:grid-cols-2 gap-5">
      <Card
        title="Inteligencia Artificial (IA)"
        content="Modelos predictivos y aprendizaje profundo para anticipar resultados ymejorar el rendimiento."
      />
      <Card
        title="Machine Learning"
        content="Algoritmos que evolucionan constantemente a partir de los datos."
      />
      <Card
        title="Análisis predictivo"
        content="Anticipación de resultados, prevención de lesiones y optimización de entrenamientos."
      />
      <Card
        title="Big Data"
        content="Procesamiento de grandes volúmenes de datos en tiempo real para obtener insights detallados y estratégicos."
      />
    </div>
  </div>
</Section>

<video autoplay loop muted playsinline class="w-full h-dvh object-cover">
  <source src="/tech.mp4" type="video/mp4" />
</video>
