---
import testimonials from "../data/testimonials.json";

import Testimonial from "../components/Testimonial.astro";
import Section from "./Section.astro";
import ArrowLeft from "../components/icons/ArrowLeft.astro";
import ArrowRight from "../components/icons/ArrowRight.astro";
---

<Section title="Historias de éxito">
  <p>
    Clubes deportivos, federaciones y atletas de élite que han mejorado su
    rendimiento y alcanzado resultados excepcionales gracias a la innovación en
    el análisis de datos y el soporte personalizado de <strong>RiseData</strong
    >.
  </p>
  <div class="overflow-x-hidden">
    <div class="swiper testimonialsSwiper container flex flex-col gap-5">
      <div class="swiper-wrapper flex">
        {
          testimonials.map((item) => (
            <Testimonial
              name={item.name}
              photo={item.photo}
              content={item.content}
            />
          ))
        }
      </div>
      <div class="flex self-end">
        <div class="swiper-button-prev testimonialsSwiper-button-prev">
          <ArrowLeft />
        </div>
        <div class="swiper-button-next testimonialsSwiper-button-next">
          <ArrowRight />
        </div>
      </div>
    </div>
  </div>
</Section>
